version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysqldb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - E:\work\AI\docker\mysql\data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysqldata: