version: '3.8'

services:
  db:
    image: mongo:7
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: mydb
    ports:
      - "27017:27017"
    volumes:
      - E:\work\AI\docker\mongodb\data:/data/db
    command: mongod --auth

volumes:
  mongodata: