version: '3.8'

services:
  db:
    image: postgres:16
    container_name: pgdb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - E:\work\AI\docker\postgres\data:/var/lib/postgresql/data

volumes:
  pgdata: